body {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#calculator{

    margin: 100px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: hsl(0, 0%, 15%);
    font-family: Arial, sans-serif;
    max-width: 500px;
}

#display{
    width: 100%;
    height: 80px;
    font-size: 5rem;
    text-align: right;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    box-sizing: border-box;
}


#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;

}

button{
    width: 100px;
    height: 100px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.operator-btn{
    background-color: hsla(45, 100%, 50%, 1.00);
}

.operator-btn:hover{
    background-color: hsla(45, 100%, 60%, 1.00);
}
.operator-btn:active{
    background-color: hsla(45, 100%, 70%, 1.00);
}